.App {
  text-align: center;
}

.run-icon:hover {
  transform: scale(1.3);
}

.bike-icon:hover {
  transform: scale(1.3);
}

.workout-icon:hover {
  transform: scale(1.3);
}

.yoga-icon:hover {
  transform: scale(1.3);
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


